<%- include("../partials/head.ejs")%>
<body>
    <!--Navbar-->
    <%- include("../partials/header.ejs")%>
    <main>
        <h1>Regístrate y mantente aprendiendo</h1>
        <form action="/users/register" method="POST" name="home">
            <label for="nombre">Nombre</label>
            <input type="text" name="customer_firstname" id="nombre" required>

            <label for="apellido">Apellido</label>
            <input type="text" name="customer_lastname" id="apellido" required>

            <label for="correo">Correo electrónico</label>
            <input type="email" name="customer_email" id="correo" required>

            <label for="password">Contraseña</label>
            <input type="password" name="customer_password" id="password" required pattern=".{8,16}">
            <p class="password">Debe contener entre 8 y 16 caracteres</p>

            <label for="imgUsuario">Imagen de usuario</label>
            <input type="file" name="customer_image" id="imgUsuario" alt="Imagen de usuario" required>
            <input type="text" name="img" value="my_value" id="hidden_input" hidden/>
            <input name="enviar" id="submitBtn" type="submit" value="Regístrate" disabled>

            <p class="condiciones">Al registrarte aceptas nuestras <a href="">Condiciones
                de uso y Política de privacidad</a></p>

            <p class="iniciar-sesion">¿Ya tienes una cuenta? <a href="/users/login">Inicia sesión</a></p>
        </form>
    </main>
    <%- include("../partials/footer.ejs")%>
    <script type="module">
        import "https://www.gstatic.com/firebasejs/8.0.2/firebase-app.js";
        import "https://www.gstatic.com/firebasejs/8.0.2/firebase-storage.js";
        firebase.initializeApp({
            apiKey: "AIzaSyD08fS8ka33v28JWdJtIJUw0-aLPFsSg8E",
            authDomain: "keeplearning-d82b7.firebaseapp.com",
            projectId: "keeplearning-d82b7",
            storageBucket: "keeplearning-d82b7.appspot.com",
            messagingSenderId: "61916898917",
            appId: "1:61916898917:web:50074a88245e0ee62b888c"
        });
        window.addEventListener("load", async function(){
            const file = document.getElementById("imgUsuario");
            const uploadBtn = document.getElementById("submitBtn");
            const hidden = document.getElementById("hidden_input");
            file.addEventListener("change", (e) => {
                const file = e.target.files[0];
                if(file){
                    const storageRef = firebase.storage().ref("users");
                    const fileRef = storageRef.child(file.name+Date.now());
                    fileRef.put(file).then((snapshot) => {
                    snapshot.ref.getDownloadURL().then(url => {
                        hidden.value = url;
                        uploadBtn.disabled = false;
    })
                })
                }
                
            })
        })
    </script>
</body>
</html>