<%- include("../partials/head.ejs")%>
<body>
    <!--Navbar-->
    <%- include("../partials/header.ejs")%>
    <main>
        <h1>Regístrate y mantente aprendiendo</h1>
        <form action="/home.html" method="POST" name="home">

            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" required><br>

            <label for="apellido">Apellido</label>
            <input type="text" name="apellido" id="apellido" required><br>

            <label for="correo">Correo electrónico</label>
            <input type="email" name="correo" id="correo" required><br>

            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" required pattern=".{8,72}">
            <p class="password">Debe contener entre 8 y 72 caracteres</p><br>

            <label for="confirm">Confirmar contraseña</label>
            <input type="password" name="confirm" id="confirm" required pattern=".{8,72}">
            <p class="confirm"></p><br>

            <label for="category">Categoría de usuario</label>
            <select name="category" id="category">
                <option value="universidad">Universidad</option>
                <option value="estudiante">Estudiante</option>
            </select><br>

            <label for="imgUsuario">Imagen de usuario</label><br>
            
input type="image" name="imgUsuario" id="imgUsuario" alt="Imagen de usuario"><br>

            

            <input name="enviar" id="enviar" type="submit" value="Regístrate">

            <p class="condiciones">Al registrarte aceptas nuestras <a href="">Condiciones
                de uso y Política de privacidad</a></p>

            <p class="iniciar-sesion">¿Ya tienes una cuenta? <a href="/login">Inicia sesión</a></p>
        </form>
    </main>
    <%- include("../partials/footer.ejs")%>
</body>
</html>