<%- include("../partials/head.ejs")%> 
<body>
    <%- include("../partials/header.ejs")%>
    <main>
        <h1><%= title%> </h1>
        <form action="/products" method= "POST">
            <label for="nombreCurso">Nombre del Curso*</label>
            <input type="text" id='nombreCurso' name='nombreCurso'>
            <label for="descripcionCorta">Descripción corta*</label>
            <textarea id="descripcionCorta" name="descripcionCorta"></textarea>
            <label for="requisitos">Requisitos del curso</label>
            <textarea id="requisitos" name="requisitos"></textarea>
            <label for="descripcionLarga">Descripción larga*</label>
            <textarea id="descripcionLarga" name="descripcionLarga"></textarea>
            <div class="precio">
                <div class="bloque">
                    <label for="precio">Precio*</label>
                    <input type="text" id="precio" name="precio">
                </div>
                <div class="bloque">
                    <label for="moneda">Unidad monetaria*</label>
                    <select class="select" name= "moneda" id="moneda"> 
                        <option value="mxn" selected>MXN Peso Mexicano</option>
                        <option value="dollar">USD Dólar Estadounidense</option>
                    </select>                      
                </div>
            </div>
            <div class="botones">
                <button type="submit" class="guardar" value="Guardar"><img src="/images/icons/save.svg"> Guardar cambios</button>
            </div>
            <p>Los espacios marcados con * son obligatorios.</p>
        </form>
    </main>
    <%- include("../partials/footer.ejs") %>
</body>
</html>
 