*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: 'Roboto';    
   }
:root{
    /*FUENTE*/
    --font:"Roboto";
    /*COLORES*/
    --brandColor: #25C998;
    --BrandPurple:#5157B5;
    --BrandPurpleDark:#363A84;
    --darkBlueLogo:#1A1D53;
    --darkBlue100:#030634;
    --secondaryColor:#C4C4C4;
    --White:#FFFFFF;
    --Black:#000000;
}
main{
    background-color: #030634;    
    color: white;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}
.header-not-logged-in{
    width: 100vw;
    margin: 0;
    display: flex;
    background-color: #1A1D53;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
}
.errores{
    margin:10px;
    line-height: 28px;
    color:red;
    margin: 0 30px;
    text-align: center;
    font-style: oblique;
    font-weight: 700;
}

#boton{
    margin-left: 5%;
}

.div-btn-menu{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #5156B5;
    background-color: #363A84;
}

.menu-options{
    display: none;
    margin: 0px;
    list-style: none;
    background-color: #1A1D53;     
    padding: 20px;
}
.menu-options li{
    padding: 15px;
}
.menu-options li a{
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}
.menu-options > li:hover {
    background-color: rgba(105, 105, 105, 0.329) ;
}
input[type="checkbox"]:checked + .menu-options{
    display:block;
    position: absolute;
}

.logo-container{
    margin-left: 21.11%;
    margin-right: 5.55%;
}
.div-btn-search{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-right: 4.44%;
    border: 1px solid #5156B5;
    background-color: #363A84;
}

.recordar .checkboxRecordar{
    display:flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.btn-search{
    width: 40px;
    height: 40px;
}
.div-btn-cart{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-right: 5.55%;
    border: 1px solid #5156B5;
    background-color: #363A84;
}
.btn-cart{
    width: 40px;
    height: 40px;
}
.primaryBtn:hover,.secondaryBtn:hover {
    background-color: rgba(55, 39, 85, 0.692)
}
h1{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}
input[type=text], [type=password]{
    background-color: #030634; 
    border-radius: 8px;
    border: 1px #5157B5 solid;
    height: 40px;
    color: white;
    padding:8px;
    width:100%;
}
label{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
}
.checkboxRecordar label{
    font-size: 14px;
}
form{
    align-self: center;
    padding: 16px;     
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width:100%;
}
.recordar{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 8px;
}
a.recordarme{
    font-size: 14px;
    line-height: 16.5px;
    margin-top: 4px;
    margin-bottom: 8px;
    white-space: nowrap;
}
input[type=checkbox] {
    transform: scale(1.5);
    margin: 0 8px;
  }
#enviar{
    background-color: #25C998;
    color: black;
    font-size: 20px;
    border-radius: 8px;
    height: 36px;
    font-weight: 900;
    border: 1px solid #25C998;
    width: 50%;
    align-self: center;
    justify-self: center;
    text-align: center;
}
#enviar:hover{
    background-color: #7dddc0;
    border: 1px solid black;
}
.error-text{
    color: red;
    font-weight:800;
}
a{
    color: white;
}
.registrarse{
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    padding-top: 12px;
}

@media (min-width:460px) {
    form{
        width: 80%;
        align-self: center;
    }
}
/*DESKTOP*/
@media (min-width:950px){
    a.recordarme{
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
    }
    label.recordarme{
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        margin: 0 0 0px 8px;
        white-space: nowrap;
    }
    
    input[type=checkbox] {
        transform: scale(1.75);
        margin: 0 8px;
    }
}

@media (min-width:769px){
    form{
        width: 50%
    }
    h1{
        font-size: 35px;
        font-weight: 400;
        line-height: 48px;
    }
    .registrarse{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 32px;
    }
    label{
        font-size: 20px;
        line-height: 36px;
    }
}
@media (min-width:1280px){
    form{
        width: 48%;
    }
    h1{
        font-size: 36px;
        font-weight: 400;
        line-height: 40px;
    }
    label{
        font-size: 24px;
        line-height: 40px;
        font-weight: 400;
        margin:0;
    }
    input[type=text],[type=password], #enviar{
        height: 40px;
        font-size: 20px;
    }
}