*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: 'Roboto';    
   }
:root{
    /*FUENTE*/
    --font:"Roboto";
    /*COLORES*/
    --brandColor: #25C998;
    --BrandPurple:#5157B5;
    --BrandPurpleDark:#363A84;
    --darkBlueLogo:#1A1D53;
    --darkBlue100:#030634;
    --secondaryColor:#C4C4C4;
    --White:#FFFFFF;
    --Black:#000000;
}
main{
    background-color: #030634;    
    color: white;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    padding-top: 15vh;
}
.header-not-logged-in{
    width: 100vw;
    margin: 0;
    display: flex;
    background-color: #1A1D53;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
}
.errores{
    margin:10px;
    line-height: 28px;
    color:red;
    margin: 0 30px;
    text-align: center;
    font-style: oblique;
    font-weight: 700;
}

#boton{
    margin-left: 5%;
}

.div-btn-menu{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #5156B5;
    background-color: #363A84;
}

.menu-options{
    display: none;
    margin: 0px;
    list-style: none;
    background-color: #1A1D53;     
    padding: 20px;
}
.menu-options li{
    padding: 15px;
}
.menu-options li a{
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}
.menu-options > li:hover {
    background-color: rgba(105, 105, 105, 0.329) ;
}
input[type="checkbox"]:checked + .menu-options{
    display:block;
    position: absolute;
}

.logo-container{
    margin-left: 21.11%;
    margin-right: 5.55%;
}
.div-btn-search{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-right: 4.44%;
    border: 1px solid #5156B5;
    background-color: #363A84;
}

.recordar .checkboxRecordar{
    display:flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.btn-search{
    width: 40px;
    height: 40px;
}
.div-btn-cart{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-right: 5.55%;
    border: 1px solid #5156B5;
    background-color: #363A84;
}
.btn-cart{
    width: 40px;
    height: 40px;
}
.primaryBtn:hover,.secondaryBtn:hover {
    background-color: rgba(55, 39, 85, 0.692)
}
h1{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}
input[type=text], [type=password]{
    background-color: #030634; 
    border-radius: 8px;
    border: 1px #5157B5 solid;
    height: 40px;
    color: white;
    padding:8px;
    width:100%;
}
label{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
}
.checkboxRecordar label{
    font-size: 14px;
}
form{
    align-self: center;
    padding: 16px;     
    display: flex;
    flex-direction: column;
    max-width: 400px;
}
.recordar{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 8px;
}
a.recordarme{
    font-size: 14px;
    line-height: 16.5px;
    margin-top: 4px;
    margin-bottom: 8px;
    white-space: nowrap;
}
input[type=checkbox] {
    transform: scale(1.5);
    margin: 0 8px;
  }
#enviar{
    background-color: #25C998;
    color: black;
    font-size: 20px;
    border-radius: 8px;
    height: 36px;
    font-weight: 900;
    border: 1px solid #25C998;
    width: 50%;
    align-self: center;
    justify-self: center;
    text-align: center;
}
#enviar:hover{
    background-color: #7dddc0;
    border: 1px solid black;
}
.error-text{
    color: red;
    font-weight:800;
}
a{
    color: white;
}
.registrarse{
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    padding-top: 12px;
}
footer{
    background-color:var(--darkBlueLogo);
}
.FooterContainer{
    padding-top: 16px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 16px;
    margin-left: 16px;
    justify-content: center;
}
.FooterTitle{
    font-size: 16px;
    color:var(--White);
    margin-bottom: 8px;
}
.FooterItem{
    font-size: 14px;
    color:var(--White);
    font-weight: 400;
}
.Empresa{
    min-width: 136px;
    padding-bottom: 12px;
}
.Legal{
    width:140px;
    order:2;
}
.Contactanos{
    order:1;
    margin-left:36px;
    min-width: 116px;
    padding-bottom: 32px;
}
.Social{
    order:4;
    display: flex;
    margin-left: 32px;
    justify-content: center;
}
.InstagramLogo{
    margin-left: 8px;
    margin-right: 8px;
}
.Logo{
    order:5;
    margin-top:4px;
    width: 100%;
    display: flex;
    justify-content: center;
}
small{
    color:var(--secondaryColor);
    font-weight: 400;
    display: flex;
    margin-right: 16px;
    margin-left: 16px;
    justify-content: center;
    padding-bottom: 16px;
}
@media (max-width:359px) {
    .Contactanos{
        margin-left: 0;
    }
    .Legal{
        padding-bottom: 12px;
    }
    .Social{
        width: 100%;
        margin-left: 0;
        justify-self: center;
    }
}
@media (max-width:283px) {
    .Contactanos{
        width:136px;
    }
}
@media (max-width:324px) {
    .Contactanos{
        padding-bottom: 12px;
    }
}
@media (min-width:460px) {
    form{
        width: 70%;
        align-self: center;
    }
    .Contactanos{
        margin-right: 36px;
    }
    .Legal{
        margin-right:32px;
    }
    .Social{
        margin-left:0;
        margin-right:36px;
    }
}
@media (min-width:532px) {
    .Social{
        margin:0;
        justify-self: center;
    }
    .Legal{
        margin-right: 0;
    }
}
@media (min-width:608px) {
    .Social{
        align-self: center;
    }
    .Legal{
        margin-right: 36px;
    }
    .Empresa{
        padding-bottom: 0;
    }
    .Logo{
        margin-top:0;
    }
}
/*DESKTOP*/
@media (min-width:950px){
    .FooterContainer{
        padding-top: 32px;
        padding-left: 4%;
        padding-right: 4%;
        justify-content: flex-start;
        margin:0;
    }
    .Logo{
        order: 0;
        width: 124px;
        height: 92px;
    }
    .Empresa{
        order:1;
        margin-right: 4%;
        margin-left: 4%;
        width: 180px !important;
    }
    .Legal{
        order:2;
        min-width: 180px !important;
        margin-right: 0;
    }
    .Contactanos{
        order: 3;
        padding:0;
        margin:0 4% 0 4%;
    }
    .Social{
        order:4;
        flex-direction: column;
        margin:auto;
    }
    .InstagramLogo{
        margin:0;
    }
    .FooterContainer > div > h5.FooterTitle{
        font-size: 18px;
    }
    .FooterContainer > div > h6.FooterItem{
        font-size: 16px;
    }
    .Social > img{
        width:40px;
        height: 40px;
        margin-bottom: 16px;
    }
    small{
        padding-top:40px;
        font-size: 14px;
        justify-content: flex-end;
        padding-right: 72px;
        padding-bottom: 32px;
        margin:0;
    }
    a.recordarme{
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
    }
    label.recordarme{
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        margin: 0 0 0px 8px;
        white-space: nowrap;
    }
    
    input[type=checkbox] {
        transform: scale(1.75);
        margin: 0 8px;
      }
}
@media (min-width:1236px) {
    .FooterContainer{
        padding-left: 20px;
        padding-right: 20px;
        justify-content: center;
    }
    .Empresa{
        margin-right: 5%;
        margin-left: 5%;
        width: 192px;
    }
    .Legal{
        min-width: 180px !important;
    }
    .Contactanos{
        order: 3;
        padding:0;
        margin:0 5% 0 5%;
    }
    .Social{
        flex-direction: row;
        align-self:flex-start;
        margin:0;
    }
    .Social > img{
        width:40px;
        height: 40px;
        margin: 0 16px 0 16px;
    }
}
@media (min-width:769px){
    form{
        width: 50%
    }
    h1{
        font-size: 35px;
        font-weight: 400;
        line-height: 48px;
    }
    .registrarse{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 32px;
    }
}
@media (min-width:1280px){
    form{
        width: 48%;
    }
    h1{
        font-size: 36px;
        font-weight: 400;
        line-height: 40px;
    }
    label{
        font-size: 24px;
        line-height: 40px;
        font-weight: 400;
        margin:0;
    }
    input[type=text],[type=password], #enviar{
        height: 40px;
        font-size: 20px;
    }
}