* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: 'Roboto';    
}
:root{
    /*FUENTE*/
    --font:"Roboto";
    /*COLORES*/
    --brandColor: #25C998;
    --BrandPurple:#5157B5;
    --BrandPurpleDark:#363A84;
    --darkBlueLogo:#1A1D53;
    --darkBlue100:#030634;
    --secondaryColor:#C4C4C4;
    --White:#FFFFFF;
    --Black:#000000;
}
main{
    background-color: #363A84;    
    color: white;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}
.header-not-logged-in{
    width: 100vw;
    margin: 0;
    display: flex;
    background-color: #1A1D53;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
}

#boton{
    margin-left: 5%;
}

.div-btn-menu{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #5156B5;
    background-color: #363A84;
}
.password{
    margin: 4px 0 4px;
}
.menu-options{
    display: none;
    margin: 0px;
    list-style: none;
    background-color: #1A1D53;     
    padding: 20px;
}
.menu-options li{
    padding: 15px;
}
.menu-options li a{
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}
.menu-options > li:hover {
    background-color: rgba(105, 105, 105, 0.329) ;
}
input[type="checkbox"]:checked + .menu-options{
    display:block;
    position: absolute;
}
.errores{
    margin:10px;
    line-height: 28px;
    color:red;
    margin: 0 30px;
    text-align: center;
    font-style: oblique;
    font-weight: 700;
}
.logo-container{
    margin-left: 21.11%;
    margin-right: 5.55%;
}
.div-btn-search{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-right: 4.44%;
    border: 1px solid #5156B5;
    background-color: #363A84;
}
.btn-search{
    width: 40px;
    height: 40px;
}
.div-btn-cart{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-right: 5.55%;
    border: 1px solid #5156B5;
    background-color: #363A84;
}
.btn-cart{
    width: 40px;
    height: 40px;
}
.primaryBtn:hover,.secondaryBtn:hover {
    background-color: rgba(55, 39, 85, 0.692)
}
h1{
    margin:0 16px 0;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}
input{
    background-color: #030634; 
    border-radius: 8px;
    border: 1px #5157B5 solid;
    height: 40px;
    color: white;
    padding:8px;
    margin: 0;
}
label{
    font-size: 16px;
    line-height: 28px;
}
form{
    padding: 8px 16px;     
    display: flex;
    flex-direction: column;
    max-width:520px;
}
.contraseña{
    font-size: 14px;
    line-height: 16.5px;
    padding-top: 4px;
    padding-bottom: 8px;
}
#submitBtn{
    background-color: #25C998;
    color: black;
    font-size: 20px;
    border-radius: 8px;
    height: 36px;
    font-weight: 900;
    border: 1px solid #25C998;
    padding:0px;
    width:50%;
    display:flex;
    align-self: center;
    justify-content: center;
}
#submitBtn:hover{
    background-color: #5157B5;
    border: 1px solid white;
    color:white;
    transition: all .3s ease-in-out;
    cursor: pointer;
    
}
.condiciones{
    font-size: 14px;
    line-height: 16.5px;
    border-bottom: white 1px solid;
    padding-bottom: 12px;
    padding-top: 8px;
}
a{
    color: white;
}
.iniciar-sesion{
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding-top: 12px;
    margin-bottom: 32px;
}
@media (min-width:769px){
    form{
        width: 48%

    }
    h1{
        font-size: 35px;
        font-weight: 400;
        line-height: 48px;
    }
    label{
        font-size: 20px;
        line-height: 36px;
    }
}
@media (min-width:1280px){
    form{
        width: 48%;
        max-width: 520px;
    }
    h1{
        font-size: 36px;
        font-weight: 400;
        line-height: 48px;
    }
    label{
        font-size: 24px;
        line-height: 40px;
        font-weight: 400;
    }
    input, #enviar{
        height: 40px;
        font-size: 20px;
    }
    .contraseña{
        font-size: 16px;
        line-height: 19px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .condiciones{
        font-size: 14px;
        line-height: 19px;
        padding-bottom: 16px;
        color:#C4C4C4;
    }
    .iniciar-sesion{
        font-size: 18px;
        line-height: 24px;
    }
    #submitBtn{
        height:40px;
    }
    input#imgUsuario{
        font-size: 16px;
    }
}
input#imgUsuario{
    border: 0;
    background-color: transparent;
    padding:0;
    margin:4px 0 8px;
    height:auto;
    font-size: 16px;
}
::-webkit-file-upload-button{
    background: #030634;
    color:white;
    border-radius: 8px;
    border:white 1px solid;
    white-space: nowrap;
    padding:4px 8px 4px;
    font-size: 16px;
    cursor: pointer;
}
::-webkit-file-upload-button:hover{
    background: #1A1D53;
    transition: all .3s ease-in-out;
}