<header class="header-not-logged-in">
    <!--Boton menu-->
    <div id="boton">
        <div class="div-btn-menu">
            <label for="show-menu">
                <img src="/images/icons/Hamburguesa.svg" alt="Menu principal" class="btn-menu">
            </label>
        </div>
        <input type="checkbox" id="show-menu" hidden>
        <!--Opciones del menu-->
        <ul class="menu-options">
            <li><a href="#profile">Mi Perfil</a></li>
            <li><a href="#purchases-history">Historial de Compras</a></li>
            <li><a href="#logout">Cerrar Sesion</a></li>
        </ul>        
    </div>


    <!--Logo-->
    <div class="logo-container">
        <a href="/">
            <img src="/images/icons/Logo-KeepLearning.svg" alt="logo-kl" class="logo">
        </a>
    </div>

    <!--Botón de búsqueda-->
    <div class="div-btn-search">
        <label for="show-search">
            <img src="/images/icons/Buscar.svg" alt="Botón búsqueda" class="btn-search">
        </label>
    </div>
    <input type="checkbox" id="show-search" hidden>

    <!--Botón carrito-->
    
    <div class="div-btn-cart">
        <label for="show-cart">
            <a href="/productCart">
            <img src="/images/icons/Carrito.svg" alt="Botón carrito de compras" class="btn-cart">
        </a>
        </label>
    </div>
    <input type="checkbox" id="show-cart" hidden>

</header>